<p>This is the footer.</p>

<!-- JavaScript -->
<script src="<%= assetPrefix %>js/chunk-vendors.js"></script>
<% if (isDev) { %>
<script src="<%= assetPrefix %>js/chunk-common.js"></script>
<% } %>
<script src="<%= assetPrefix %>js/component.js"></script>
