<meta charset="UTF-8">
<title>Test Project</title>

<!-- Stylesheets (if necessary) -->
<!-- <link rel="stylesheet" href="css/component.css"> -->
<style>
  body {
    padding-top: 50px;
    text-align: center;
  }
</style>
