<meta charset="UTF-8">
<title>Test Project</title>

<!-- Stylesheets -->
<% css.forEach(function(file) { %>
<link rel="stylesheet" href="<%= file %>"><% }); %>
<style>
  body {
    padding-top: 50px;
    text-align: center;
  }
</style>
