<p>Current page: <%= name %></p>
<p>
  <a class="nav-link" href="/">Home</a> -
  <a class="nav-link" href="/app1">App1</a> -
  <a class="nav-link" href="/app2">App2</a>
</p>
Counter component (same on every page): <div id="component"></div>
